body {
  margin: 0%;
  margin-top: 5%;
}

#container {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-seri;
  display: flex;
  background-image: repeating-linear-gradient(
    rgb(17, 144, 148),
    rgba(247, 66, 21, 0.363) 30%,
    rgb(227, 236, 227) 95%
  );
  width: 70%;
  height: auto;
  border: 2px solid black;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
}

main {
  background-color: whitesmoke;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  padding-left: 2px;
}
#task,
input {
  background-color: pink;
  width: 95%;
  height: 2rem;
  display: flex;
  box-shadow: 3px 2px 1px 1px rgba(0, 0, 255, .2);
}

.clear{
    display:flex;
    flex-direction: column;
    border: 3px solid rgb(244, 248, 248);
    border-radius: 1%;
   
    height: 15em;
    width: 40%;

    
    margin: auto;

}
